
/* body reset */
/* * is a selector for everything on the page */
*{
    margin: 0;
    padding: 0; 
    /* box-sizing  for padding not to affect the width */
    box-sizing: border-box;
}
/* utility class for clearing floats */
/* .clr{
    clear: both;
} */
/* color variables */
:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}
html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
}

/* Element Selector */
body{
    background: #ccc;
    margin-top: 3rem;
    margin-bottom: 50px;
    margin: 30px 50px;
    line-height: 1.4;

}
.wrapper {
    display: grid;
    grid-gap: 20px;
    /* width: 960px;
    margin: auto; */
}
/* Navigation */
.main-nav{
    border: red 1px solid;
}
.main-nav ul {
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr;  */
    grid-template-columns: repeat(5, 1fr);
}

.main-nav a {
    background: var(--primary);
    display: block;
    text-decoration: none;
    /* padding: 0.8rem; */
    padding: 1.5rem;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
}

.main-nav a:hover {
    background: var(--dark);
    color: var(--light);
}
div.top-section{
    height: 400px;
    background-color: #333333;
    margin: 0;
    padding: 0;
 }

 div.display-stats{
    float: left;
    width: 50%;
    background-color: #768fca;
    min-height: 100%;
    overflow: hidden;
    
 }
 div.snazzy-map{
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;
    overflow: hidden;
 }
 div.right-div{
    background: #cccccc;
    float: right;
    width: 50%;
    height: 200px;
}
div.left-div{
    background: #dccff1;
    width: 50%;
    height: 200px;
    float: left;
    /* overflow: hidden; */
}

div.content{
    height: 200px;
    /* width: 150px; */
    width: auto;
    border: 1px solid #768fca;
    
    /* margin: 20px; */
}
div.content1{
    height: 200px;
    width: auto;
    /* width: 150px; */
    border: 1px solid #000000;
    
    /* margin: 20px; */
}
div#box1{
    background-color: #ff0000;
}
div#box2{
    background-color: #00ff00;
}
div#box3{
    background-color: #0000ff;
}
div#box4{
    background-color: #ffff00;
}
#navbar{
    height: 70px;
    background: #333;
    color: #fff;
    overflow: auto;
    border-radius: 20px;
    text-align: center;
}

.box {
    float: left;
    width: 33.3%;
    padding: 50px;
    text-align: center;
}
.map-n-stats{
    height: 400px;
}
.line-graph{

}
.bar-graph-up{

}
.bar-graph-side{

}


div#bottom-section{
    height: 400px;
    /* background-color: #333333; */
    margin: 0;
    padding: 0;
 }
 div#pie-chart{
    float: left;
    width: 50%;
    height: 600px;
    background-color: #768fca;
    /* min-height: 100%; */
    overflow: hidden;
    
 }
 div#table-data{
    float: right;
    width: 50%;
    /* height: 100%; */
    text-align: center;
    overflow: hidden;
 }

















/* Top Container  */
.top-container {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
        'showcase showcase top-box-a'
        'showcase showcase top-box-b' 
        'showcase showcase top-box-c';
}
/* showcase  */
.showcase {
    /* margin: 0;
    padding: 0; */
    grid-area: showcase;
    /* min-height: 00px; */
    /* background-size: cover; */
    /* background-position: center; */
    /* padding: 3rem; */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: flex-start; */
    /* justify-content: center; */
    box-shadow: var(--shadow);
}
.showcase h1 {
    font-size: 4rem;
    margin-bottom: 0;
    color: var(--light);
}

.showcase p {
    font-size: 1rem;
    margin-top: 0;
    color: var(--light);
}
/* Top Box  */
.top-box {
    background: var(--primary);
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: var(--shadow);
    padding: 1.5rem;
}

/* .top-box .price {
    font-size: 2.5rem;
}

.top-box-a {
    grid-area: top-box-a;

}

.top-box-b {
    grid-area: top-box-b;
}
.top-box-c {
    grid-area: top-box-c;
} */

/* .infected {
    background: var(--primary);
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: var(--shadow);
    padding: 1.5rem;
}
.deaths{
    float: right;
    width: 50%;
    border: solid 2px;
    text-align: center;
    border-radius: 0px;
}
.recovered{
    float: right;
    width: 50%;
    border: solid 2px;
    text-align: center;
    border-radius: 0px;
    
}
.graph{
    border: none;
    
} */
.footer-social-links {
    text-align: center;


}

li {
    margin-right: 25px;
    display: inline-block;
}
#table-data{
    overflow:auto;
    height:600px;
}
table, th, td {
    border: 1px solid black;
    font-size: small;
    padding: 0;
    margin: 0;
  }

a {
    color: dark-gray;
}
.instagram:hover {
    color: #e95950;
}
.facebook:hover {
    color: rgb(66, 103, 178);
}
.twitter:hover {
    color: rgb(56, 161, 243);
}
.google:hover {
    color: rgb(221, 75, 57);
}
.linkedin:hover {
    color: rgb(0, 119, 181);
}

/* Media Queries - responsiness  */
@media (max-width: 700px){
    .top-container{
        /* width: 700px; */
        grid-template-areas: 
        'showcase'
        'top-box-a'
        'top-box-b'
        'top-box-c';
    }
    .showcase{
        width: 700px;
    }
    .main-nav ul {
        grid-template-columns: 1fr;
    }
    /* Navigation */
    .main-nav ul {
        width: 700px;

    }
    .top-box{
    width: 600px;
    height: 100px;
    overflow: hidden;
    }
    #table-data{
        width: 700px;
    }
    
    @media (max-width: 500px){
        .top-container {
            grid-template-areas: 
            'showcase'
            'top-box-a'
            'top-box-b'
            'top-box-c';
        }
    }
}